@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

body {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.header, .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-links, .right-links {
  display: flex;
  gap: 18px;
  padding: 5px;
  margin: 10px 10px;
}
/* In the solution, a quicker approach is to give .content a column flex, and ul as a flex item as well */
.content {
  align-self: center;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.buttons button {
  padding: 12px;
}

.footer {
  background-color:rgba(206, 204, 204, 0.534);

}

a {
  text-decoration: none;
  color:rgb(97, 97, 97);
}

ul {
  list-style-type: none;
}


